<section
  class="fontRoboto"
  [ngClass]="{
    open: sidebarService.isSideBarOpen,
    close: !sidebarService.isSideBarOpen
  }"
>
<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
  <div class="dashboard-content">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis sunt
      odit ratione vitae architecto debitis vero, temporibus reiciendis id et
      animi, aut doloremque optio ipsam consequuntur cum molestiae fugiat
      voluptatibus!!
    </p>
  </div>
</section>
