section {
  margin-left: 250px;
}

.dashboard-content {
  padding: 16px;
}

.open{
   margin-left: 250px;
   transition: all 0.3s ease-in-out;
}

.close {
  margin-left: 0;
  transition: all 0.5s ease-in-out;
}
